.medication-intro.widget.dialog .container .col-b {
    padding-top: 50px;
}
.medication-intro.widget.dialog .container .col-b p {
    font-size: 22px;
    line-height: 110%;
    padding: 25px 0 0;
}
.medication-intro.widget.dialog #buttons {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 10px 0 0;
}
.medication-intro.widget.dialog #buttons a {
    float: left;
    width: 200px;
    line-height: 100%;
    font-size: 28px;
    margin-left: 10px;
}
.medication-intro.widget.dialog #buttons a:first-child { margin-left: 0; }

#pin-input { margin-top: 20px; }