<div class="container">
    <div class="col-a">
    
        <p>
            {{ i18n "Please read the terms and conditions to the right. Enter your Security Code which is the last four digits of your Medical Record Number in the boxes below using your Call Light number keys. Then press Select on Accept." }}
        </p>
    
        <p>
            {{ i18n "Press Select on Decline to decline these terms and conditions." }}
        </p>

        <div id="pin-input"></div>
    
        <div id="buttons" class="buttons"></div>
    
    </div>
    
    <div class="col-b">
    
        <p>
            {{ i18n "Welcome to the UpCare™ system at Partners - Spaulding Rehabilitation. This system will share important information about your (the patient's) care on the television in the room." }}
        </p>
        <p>
            {{ i18n "Some information, such as your name and/or medical condition, may be shown on this TV screen when using this product." }}
        </p>
        <p>
            {{ i18n "By using this system you are agreeing to this information being shown and can be seen by anyone present in the room at the time the information is shown." }}
        </p>
    
    </div>
</div>
