#languageDialog .widget.dialog #buttons {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 140px;
}

#languageDialog .widget.dialog .col-b {
    padding-top: 80px;
}
#languageDialog .widget.dialog .col-b p {
    font-size: 28px;
    line-height: 130%;
}