<div class="container">
    <div class='col-a'>
        <div class="logo-small-popup"></div>
        <div id="buttons"></div>
    </div>
    
    <div class='col-b'>
        <h2 class="heading">{{ i18n 'Select a Language:' }}</h2>
        <p class="highlight">{{ i18n 'Translations are provided wherever possible. Not all content has been translated. If you need additional help, please talk to your clinical staff.' }}</p>
        <p>{{ i18n 'For help, ask a member of your care team or press the Nurse button.' }}</p>
    </div>
</div>