<div class="logo"></div>
<div id="heading">{{i18n 'Welcome to <br>Spaulding Rehabilitation Hospital'}}</div>
<div id="dischargetext">
    <div id="time"></div>
    <br>
    <div id="date"></div>
    <p id="room"></p>
</div>
<div id="instructions">{{i18n 'Press Ch+ / - to Watch TV'}}</div>
<div id="revision">
    <span id="app-version"></span>
</div>
