<div class="page-title"></div>
<div id="header">
    <div id="header">
        <div class="logo-small"></div>
        <div id="heading2">
            <p class="text-small">{{i18n 'CH +/- to page up and down, UP/DOWN Arrows to highlight a video and SELECT to select.'}}</p>
        </div>
    </div>
    <div id="heading2">
        <p class="text-small">{{i18n 'CH +/- to page up and down, UP/DOWN Arrows to highlight a video and SELECT to select.'}}</p>
    </div>
</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
