<div class="page-title">{{i18n 'About This Video'}}</div>
<div id="header">
    <div class="logo-small"></div>
    <div id="heading1">
        <p id="vidTitle" class="text-large"></p><br>
        <p id="vidDuration" class="text-large"></p>
    </div>
    <div id="heading2">
    </div>
</div>
<div id="content">
    <div id="menu">
        <div id="buttons" class="major widget-region">
            <div class="widget button-group">
                <a class="back-button" href="#">&lt; {{i18n 'Back'}}</a>
                <a class="btn btn-block" href="#" id="play" style="display:none;">{{i18n 'Play This Video'}}</a>
                <a class="btn btn-block" href="#" id="restart" style="display:none;">{{i18n 'Play from Beginning'}}</a>
                <a class="btn btn-block" href="#" id="resume" style="display:none;">{{i18n 'Resume Watching'}}</a>
                <a class="btn btn-block" href="#" id="add" style="display:none;">{{i18n 'Bookmark This Video'}}</a>
                <a class="btn btn-block" href="#" id="remove" style="display:none;">{{i18n 'Remove Bookmark'}}</a>
            </div>
        </div>
        <div class="minor">
            <div class="menu-tab" style="display: block;">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-content layout1">
                        <div class="sub-text1">
                            <p class="bookmarked" style="display:none">
                                {{i18n 'Press Select on &quot;Play From Beginning&quot; to watch or &quot;Resume Watching&quot; to continue watching this video.'}} <br>
                                <br>{{i18n 'Removing Bookmark removes it from &quot;My Health Videos.&quot;'}}
                            </p>
                            <p class="not-bookmarked" style="display:none">
                                {{i18n 'Press Select on &quot;Play This Video&quot; to watch.'}} <br><br>
                                {{i18n 'Bookmarking the video places it in &quot;My Health Videos&quot; where it is available for later viewing.  You may watch it at any time.'}}
                            </p>
                        </div>
                        <div class="sub-image1"></div>
                        <div class="sub-image2"></div>
                    </div>
                    <div class="sub-footer"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
