<div id="playtv" class="page" style="display: block; background: transparent;">
    <div id="channel-label">
        <p id="loadinginfo"></p>
    </div>
</div>
<div id="content">
</div>

<div id="feedbackDialog" class="widget-region"></div>
<div id="videoComprehensionDialog" class="widget-region"></div>
<div id="learnerDialog" class="widget-region"></div>
<div id="languageDialog" class="widget-region"></div>