<div id="logo">
</div>
<div id="regtext">
    <p class="text2">{{i18n 'Contact your nurse should you have any questions about our Terms and Conditions.'}}<br> <br></p>
    <p class="text1">
        {{i18n 'Welcome to the interactive Upcare™ system at Swedish/Issaquah. This television application engages patients and their families by displaying meaningful information within the patient&#39;s room.'}}
    </p>

</div><!-- #regtext -->
<div id="regtext2">
    <p class="text1">
        {{i18n 'Some information, such as your name and/or medical condition, may be displayed on this TV screen when using this product. Some of this information is considered protected health information, as defined under the Health Insurance Portability and Accountability Act that was passed by Congress in 1996.'}}
        <br><br>
        {{i18n 'By using this application you are hereby consenting to such information being displayed, which may be seen by third parties who are present in the room at the time the information is displayed. Please indicate your acceptance or declination of these terms and conditions by clicking Accept/Decline to the left.'}}
        <br><br>
        {{i18n 'Thank you.'}} <br>
    </p>
</div><!-- #regtext2 -->
<div id="buttons" class="widget-region">
    <div class="widget button-group">
		<a class="btn btn-block active" href="#" id="accept">{{i18n 'Accept'}}</a><br>
        <a class="btn btn-block" href="#" id="decline">{{i18n 'Decline'}}</a><br>
    </div>
</div>
