<div id="logo">
</div>
<div id="remote">
</div>
<div id="heading">Welcome to<br>Spaulding Rehabilitation Hospital
</div>
<div id="instruction">
	<p class="text1">{{i18n 'Use your pillow speaker to move around the screen.'}}
    <br><br>
    {{i18n 'Press Select to Explore each area.'}}<br>
    <br>
    </p>

</div><!-- #instruction -->
<div id="buttons" class="widget-region">
    <div class="widget button-group">	
        <a class="btn btn-block active" href="#" id="select">{{i18n 'Press Select'}} →</a>
    </div>
</div>
