<div class="page-title ellipsis">{{i18n 'Free Movies'}}</div>
<div id="header">
    <div class="logo-small"></div>
    <div id="heading1">
        <p class="text-centered">
            <img src="" width="205" height="275" alt=""/></p>
    </div>
    <div id="heading2">
    </div>
</div><!-- #header -->
<div class="menufooter"></div>
<div id="content">
    <div id="menu" class="widget tab-menu autofocus">

        <div id="buttons" class="major widget-region">
            <div class="widget button-group">
                <a class="back-button" href="#">< {{i18n 'Back'}}</a>
                <a id="restart" class="menu-tab-button" href="#">{{i18n 'Watch this Movie'}}</a>
                <a id="resume" class="menu-tab-button" href="#" style="display: none">{{i18n 'Resume Watching'}}</a>
            </div>
        </div>

        <div class="minor">



                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-text1">
                        <div class="syntext movie-title ellipsis"></div>
                        <div class="syntext"><span class='movie-rating'></span></div>
                        <div class="syntext"><span class='movie-run-time'></span></div>
                        <br>
                        <div class="syntext"><span class='movie-synopsis'></span></div>

                        <p class="movie-instruction" style="display:none">
                        <br>
                            {{i18n 'Press Select on'}} <span class="text-color-2">{{i18n 'Watch This Movie'}}</span> {{i18n 'to watch now.'}}
                        </p>
                    </div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>




        </div>
    </div>
    </div>

<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
