<div class="page-title ellipsis"></div>
<div id="header">
    <div class="logo-small"></div>
    <div id="heading1">
        <p class="text-medium"></p>
    </div>
    <div id="heading2">
            <p class="text-large"><br>{{i18n 'Use Right / Left arrow keys to scroll the movies'}}</p>
    </div>

    <div id="date"></div>

</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>

<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
