<div class="page-title">{{i18n 'My Medications'}}</div>

<div id="header">
    <div class="logo-small"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>

<div id="content">
    <div id="menu" class="widget-region"></div>
    <div id="medInfoContainer">
        <div id="medInfo" class="medicationInfo"></div>
    </div>
    <div id="pharvisit-notification" style="display: none"><p><br>{{i18n 'Your request for a Pharmacist call has been sent.'}}<br><br><span class="text-color-5">{{i18n 'Ask members of your care team if you have any questions.'}} </span></p></div>
</div>

<div class="menufooter-img"></div>

<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
<div id="dialog" class="widget-region"></div>
<div id="pin-error" class="widget-region"></div>

