<div id="header">
    <div class="logo-small"></div>
    <div id="patient">
        <p>{{i18n 'Welcome'}} <br><span id="patient-name"></span></p>
        <p><span class="text-small" id="room-number"></span> <span class="text-small" id="phone">- {{i18n 'Phone'}}:</span> <span class="text-small" id="room-phone"></span></p>
    </div>
    <div id="date">
    </div>

</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>
<div id="revision">
    <span id="app-version"></span>
</div>
<div id="dialog" class="widget-region"></div>
<div id="languageDialog" class="widget-region"></div>
<div id="painPrefDialog" class="widget-region"></div>
