<div class="page-title"></div>
<div id="header">
    <div class="logo-small"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu">
        <div id="stories" class="major widget-region">
        </div>
        <div class="minor recoverystories">
            <div class="back-tab">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-text1"><p>{{i18n 'We invite you to watch these compelling and unforgettable stories, and learn how  Spaulding Rehabilitation Network changes people’s lives.'}}</p></div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>
            </div>
            <div class="menu-tab">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-text1"><p>{{i18n 'We invite you to watch these compelling and unforgettable stories, and learn how  Spaulding Rehabilitation Network changes people’s lives.'}}
                        <br><br><span class="text-color-2">{{i18n 'Press Select to watch a video.'}}</p>
                    </div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>
            </div>
        </div>
    </div>
    <div class="menufooter-img"></div>
    <div class="menufooter">
        <p>{{i18n 'to go HOME'}}</p>
    </div>
