<div class="page-title"></div>
<div id="header">
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
</div>
<div class="footer">
</div>
<div id="dialog" class="widget-region"></div>

<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
