<div class="page-title"></div>
<div id="header">
    <div class="logo-night"></div>
    <div id="heading1">
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu">

        <div class="minor">
        </div>
    </div>
</div>

<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
<div id="dialog" class="widget-region"></div>