<div class="page-title">{{i18n 'TV Comedies'}}</div>
<div id="header">
    <div class="logo-comedies"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"><br>{{i18n 'Use Right / Left arrow keys to scroll the comedies'}}</p>
    </div>
</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>

<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
<div id="dialog" class="widget-region"></div>
