#painPrefDialog .widget.dialog #buttons {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 140px;
}

#painPrefDialog .widget.dialog .col-a {
    position: relative;
    float: left;
    width: 480px;
    padding: 50px 35px 0;
    display: inline-block;

}
#painPrefDialog .widget.dialog .col-a p {
    min-height: 22px;
    line-height: 120%;
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    color: #0F4C8B;
    text-shadow: none;
}

#painPrefDialog .widget.dialog .col-b {
    padding-top: 80px;
}
#painPrefDialog .widget.dialog .col-b p {
    font-size: 28px;
    line-height: 130%;
}
