<div class="container">
    <div class='col-a'>
        <div class="logo-small-popup"></div>
        <div id="buttons"></div>
    </div>
    
    <div class='col-b'>
        <h2 class="heading">{{ i18n 'Pain Assessment' }}</h2>
        <p class="highlight">{{ i18n 'After medications are given, we may send you a pain assessment asking you to rate your pain' }}</p>
        <p>{{ i18n 'Rating your pain helps your care team manage your pain.' }}</p>
    </div>
</div>
