.widget.dialog .container .col-b {
    padding-top: 80px;
}
.widget.dialog .container .col-b p{
    padding-top: 40px;
    font-size: 28px;
}

#learnerDialog .widget.dialog .container #buttons {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
}

.dialog.widget #buttons-right {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	font-size: 36px;
	margin: 70px 0px 0px;
	display: inline-block;
}

.dialog.widget #buttons-right a {
	/*background: url(../images/intro_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 2px rgba(51,51,51,0.50);
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #A5BCCC;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 6px rgba(51,51,51,0.50);
	-webkit-box-shadow: 6px 4px 6px rgba(51,51,51,0.50);
}
.dialog.widget #buttons-right a.active {
	background-color: #00A2B1;
}

.dialog.widget #buttons-right a.mycare {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}
.dialog.widget #buttons-right a.mycare.active {
	background-color: #0098A6;
	font-size: 40px;
}