<div class="container">
    <div class='col-a'>
        <div class="logo-small-popup"></div>
    
    <div id="buttons" class="buttons buttons-left"></div>
    </div>
    
    <div class='col-b'>
        
        <h2>{{ i18n 'Who is viewing this educational content?' }}<br />
        {{ i18n 'Please select all that apply.' }}</h2>

        <p>{{ i18n 'Use your arrow keys to Select who is viewing, then select Next.' }}</p>
        
        <div id="buttons-right"></div>
    </div>
</div>