<div class="container">
    <div class="col-a">
        <div class="logo-small-popup"></div>
        <div id="buttons" class="buttons"></div>
    </div>
    
    <div class="col-b">
        <h2>{{ i18n "Thank you for your feedback." }}</h2>
        <p class="highlight">{{ i18n "There is no such thing as a bad question. Our goal is to improve your understanding of your health and treatment. Someone will discuss any questions with you." }}</p>
        <p>{{ i18n "Press Select to close this window and return Home." }}</p>
    </div>
    
</div>
