#careteamlist {
    display: block;
    position: absolute;
    width: 696px;
    height: 370px;
    top: 100px;
    left: 490px;
    line-height: 1.2;
    z-index: 100;
    background-color: transparent;
}

ul#careteam {
    position: relative;
    width: 100%;
    height: 370px;
}

li.memberlist {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 0;
    left: 0;
    display: none;
}
li.memberlist.active {
    display: block;
}

ul#careteam li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#careteam li li {
    list-style: disc;
}
ul#careteam li li.doctor { 
    color: #FFFF92;
}
ul#careteam li li.other.first {
    padding-top: 30px;
}