<ul id="careteam">
    {{#each members}}
        <li class='memberlist'>
            <ul>
                {{#each this}}
                    <li class="{{{this.css}}}">{{{this.data}}}</li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>