<div class="major nonactive">
    {{#if backButton}}
        <a class="back-button" id="back" href="#">&lt; {{i18n "Back"}}</a>
    {{/if}}
    {{#each menu}}
        <a id="menu{{$id}}" class="menu-tab-button menu-tab-button-folder ellipsis" href="#{{path}}"
            data-slug="{{slug}}" data-current-slug="{{currentSlug}}">{{content.metadatas.title}}</a>
    {{/each}}
</div>
<div class="minor">
    <h2>{{ seriesName }}</h2>
    <img class="series-poster" src="{{ menu.0.content.thumbnail }}" />
</div>