.pin-number {
    float: left;
    width: 86px;
    height: 80px;
}

input {
    font-size: 40px;
    top: 0px;
    text-align: center;
    color: #FFF;
    background: transparent;
    border: none;
    width: 86px;
    height: 80px;
    margin: 0 5px;
    padding: 0;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgba(15,67,100,1.00);
}

.active {
    background-color: rgba(211,96,18,1.00);
    border-radius: 6px;
}