<input type="text" id="pin1" value="{{ pin1 }}" />
<input type="text" id="pin2" value="{{ pin2 }}" />
<input type="text" id="pin3" value="{{ pin3 }}" />
<input type="text" id="pin4" value="{{ pin4 }}" />