<div class="sub-page" style="display: block;">
    <div class="sub-text1">
        <div id="medlist-screen-title"><span>{{screenTitle}}:</span></div>
        <div id="medlist-screen-desc">{{screenDesc}}</div>
        <ul id="medlist">
            {{#each medications}}
            <li id="med{{id}}">
                <div class="med-name">
                    <a id="med{{id}}-name" class="button btn-med-desc-open">{{[helpers/getMedicationName] value}}</a>
                </div>
                <div id="med{{id}}-desc" class="med-desc">
                    <a class="button btn-med-desc-close" href="">Close</a>
                    <div class="medlist-detail-wrapper">
                        <div class="medlist-item-name">
                            <span>{{[helpers/getMedicationName] value}}</span>
                        </div>
                        <div class="medlist-item-desc">
                            {{[helpers/getMedicationDescription] value}}
                        </div>
                    </div>
                    <div class="medlist-item-footer">
                        {{[helpers/getDescriptionFooter] value}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="sub-image1"></div>
</div>

<div id="medication-detail"></div>