.widget.dialog #langs {
	background: url(../images/bk_ed-popup.png) no-repeat;
	width: 1102px;
	height: 526px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	/*-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;*/
	left: 89px;
	top: 100px;
}
/*div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 336px;
    height: 56px;
    display: block;
    float: left;
	margin: 20px 0 0 30px;
}*/

.widget.dialog div.logo-small-popup {
	background: url(../images/logo_large.png) top left no-repeat;
	width: 226px;
	height: 100px;
	display: block;
	position: absolute;
	/*float: left;*/
	left: 90px;
	top: 10px;
}

.dialog.widget #remote {
	background: url(../images/img_pillowspeaker.png) no-repeat;
	width: 250px;
	height: 483px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 280px;
	top: 64px;

}
.dialog.widget #heading {
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
.dialog.widget #regtext {
	width: 460px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 160px;

}
.dialog.widget #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}

.dialog.widget #regtext2 {
	width: 600px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 617px;
	top: 160px;
}
.dialog.widget #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}
.dialog.widget #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

.dialog.widget #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
.dialog.widget #instruction {
	width: 544px;
	height: 338px;
	display: inline-block;
	position: absolute;
	left: 600px;
	top: 180px;
	text-align: right;
}

.dialog.widget #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	line-height:  32px;
}

.dialog.widget #instruction p.text2  {
	color: #DCF5A8;
	text-align: left;
	line-height:  32px;
}

.dialog.widget #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
.dialog.widget #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
.dialog.widget #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
	line-height: 50px;
}
.dialog.widget #viewerlist {
	width: 480px;
	height: 338px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 230px;
	/*text-align: right;	*/
}
.dialog.widget #viewerlist span.checkbox {
	text-align: left;
	font-size: 40px;
	line-height: 36px;
	color: #F9FAFB;
	font-size: 34px;
	background-color: #0098A6;
	padding-left: 6px;
	padding-right: 6px;
	border: 4px solid #1A2D5D;
}
.dialog.widget #viewerlist p {
	line-height: 42px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: bold;
	text-shadow: 0px 0px;
	color: #11518F;
	font-size: 32px;
}

/*.dialog.widget #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

.dialog.widget #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

.dialog.widget #buttons a {
	position: relative;
	width: 100%;
	display: block;
	margin: 10px 0 0;
	padding: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: rgba(253,253,253,1.00);
	border-radius: 6px;
	background: #A5BCCC; 
	text-align: center;
	text-shadow: 2 2px 2 rgba(0,0,0,0.60);
}

.dialog.widget #buttons a.active {
	background-color: #0098A6;	/*background: url(../images/intro_badge-hi.png) top center no-repeat;*/	
}

.dialog.widget #buttons a.myview.active {
	background: #217C32;
	font-size: 40px;
}

.dialog.widget #buttons a.mycare {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

.dialog.widget #buttons a.watchtv {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

.dialog.widget #buttons a.myview {
	/* background: url(../images/btn_intro2.png) top center no-repeat; */
	width: 600px;
	height: 50px;
	font-size: 36px;
	line-height: 50px;
	margin: 14px 0px 0px 0px;
	float: left;
	position: relative;
}