.widget.dialog {
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    font-size: 28px;
    position: fixed;
    z-index: 99999;
}

.widget.dialog > .container {
    position: absolute;
	background: url(../images/bk_ed-popup.png) no-repeat;
    width: 1102px;
    height: 526px;
    z-index: 0;
    top: 0px;
}

.widget.dialog h2,
#welcomeComprehensionDialog .widget.dialog p {
	text-align: left;
    font-size: 40px;
    line-height: 50px;
}

.widget.dialog #buttons {
	width: 420px;
	height: 172px;
	left: 120px;
	top: 230px;
	margin: 80px 0 0;
	font-size: 36px;
	display: inline-block;
	position: absolute;
}

.widget.dialog div.logo-small-popup {
	position: relative;
	top: -40px;
	left: 0;
	width: 100%;
	background-position: 50% 50%;
}

.widget.dialog p {
	padding: 38px 0 0;
	line-height: 120%;
	font-weight: bold;
	text-align: left;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.50);
}
.widget.dialog p.highlight { color: #DCF5A8; }


.widget.dialog #buttons a.checkboxButton {
	margin: 0;
	padding: 0;
	height: 43px;
	line-height: 100%;
}
a.checkboxButton.checked {
	line-height: 100%;
}
.widget.dialog #buttons a.checkboxButton.active {
	background-color: #0098A6;
}
.widget.dialog #buttons a.checkboxButton:first-child { 
	top: -4px;
	padding-top: 0;
}
.widget.dialog #buttons a.checkboxButton::before {
	position: relative;
	left: -10px;
	border: 4px solid #1A2D5D;
	height: 35px;
	border-top: 0;
	background: #0098A6;
	margin: 0;
	padding-top: 4px;
}
.widget.dialog #buttons a:first-child.checkboxButton::before {
	height: 35px;
	border-top: 4px solid #1A2D5D;
}

.widget.dialog .col-a {
    position: relative;
    float: left;
    width: 480px;
    padding: 50px 35px 0;
	display: inline-block;

}
.widget.dialog .col-a p {
	min-height: 22px;
	line-height: 120%;
	margin: 0;
	text-align: left;
	font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
	color: #0F4C8B;	
    text-shadow: none;
}

.widget.dialog .col-b {
	width: 622px;
    height: 420px;
    float: left;
    padding: 40px 35px 0;
}
.widget.dialog .col-b p {
	min-height: 22px;
	line-height: 120%;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: bold;
    font-size: 22px;
    padding-top: 30px;
	text-shadow: 2px 2px 4px rgba(0,0,0, .80);
}