.widget.dialog div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 336px;
    height: 56px;
    display: block;
    float: left;
    margin: 20px 0 0 30px;
}

.widget.dialog div.logo-small {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
    height: 37px;
    display: block;
    float: left;
}

.widget.dialog div.logo-small.topleft {
    margin: 30px 0 0 64px;
}

.widget.dialog div.logo-small-popup {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
    height: 50px;
    display: none;
    position: absolute;
    /*float: left;*/
    left: 40px;
    top: 30px;
}

.widget.dialog #heading {
    width: 1000px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 175px;
    top: 138px;
    text-align: center;
}

.widget.dialog #regtext {
    width: 1030px;
    height: 200px;
    display: inline-block;
    position: absolute;
    align: center;
    left: 120px;
    top: 150px;
}

.widget.dialog #regtext p {
    min-height: 22px;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: absolute;
    font-weight: bold;
    font-size: 26px;
    color: #0F4C8B;
}

.widget.dialog #regtext p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
}

.widget.dialog #regtext p.text2 {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
}

.widget.dialog #regtext2 {
    width: 570px;
    height: 420px;
    display: inline-block;
    position: absolute;
    left: 590px;
    top: 160px;
}

.widget.dialog #regtext2 p {
    min-height: 22px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .80);
}

.widget.dialog #regtext2 p.text4 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    font-size: 40px;
    line-height: 50px;
}

.widget.dialog #instruction {
    width: 1130px;
    height: 230px;
    display: inline-block;
    align: center;
    left: 0px;
    position: absolute;
    text-align: right;
}

#home-my-care-my-medication .widget.dialog #instruction {
    position: initial;
}



.widget.dialog #instruction p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    line-height: 32px;
}

.widget.dialog #instruction p.text2 {
    color: #DCF5A8;
    text-align: left;
    line-height: 32px;
}

.widget.dialog #instruction p.text2-sm {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
    font-size: 22px;
}

.widget.dialog #instruction p.text3 {
    color: rgba(189, 239, 254, 1.00);
    text-align: left;
}

.widget.dialog #instruction p.text4 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    font-size: 40px;
    line-height: 50px;
}


.widget.dialog #instruction .regtext {
    color: #000000;
    width: 1030px;
    height: 200px;
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 120px;
    top: 150px;
    text-shadow: none;
}

.widget.dialog #instruction .regtext p {
    min-height: 22px;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    text-shadow: none;
}

.widget.dialog #instruction .regtext p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
}

.widget.dialog #instruction .regtext p.text2 {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
}

.widget.dialog #instruction .regtext2 {
    width: 600px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 342px;
    top: 265px;
}

.widget.dialog #instruction .regtext2 p {
    min-height: 22px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .80);
}

.widget.dialog #buttons {
    width: 601px;
    height: 260px;
    font-size: 36px;
    margin: 325px 0px 0px 340px;
    display: inline-block;
    position: absolute;
    top: 0px;
}

.widget.dialog #buttons .bottom{
    top: 210px;
}

.widget.dialog #buttons a {
    display: block;
    position: relative;
    line-height: 43px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: normal;
    padding-left: 0px;
    color: rgba(252, 252, 252, 1.00);
    background: rgba(86,162,214,0.75);
    width: 601px;
    min-height: 43px;
    margin-bottom: 10px;
}

.widget.dialog #buttons a.back-button {
    width: 297px;
    margin-top: 65px;
    float: left;
    font-size: 26px;
    padding-left: 0px;
    text-align: center
}

.widget.dialog #buttons a.mainmenu {
    width: 297px;
    margin-top: 65px;
    float: right;
    font-size: 26px;
    padding-left: 10px;
    text-align: center;
}

.widget.dialog #buttons a.active {
    background-color: #217C32;
}

.widget.dialog #buttons a.learnerButton,
.widget.dialog #buttons a.checkboxButton{
    text-align: left;
    font-size: 40px;
    line-height: 50px;
    color: #F9FAFB;
    font-size: 36px;
    background-color: #217C32;
    padding-left: 8px;
    padding-right: 8px;
    border: 4px solid #568FBB;
}

.widget.dialog #buttons a.checkboxButton {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #11518F;
    font-size: 36px;
    font-weight: bold;
    padding-left: 48px;
}

.widget.dialog #buttons a.checkboxButton {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #11518F;
    font-size: 36px;
    font-weight: bold;
    padding-left: 48px;
}
a.checkboxButton::before {
    content: " ";
    font-size: 36px;
    border: 4px solid #568FBB;
    background: #217c32;
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    margin: 3px 0 0 -48px;
}

a.checkboxButton::before {
    content: "X";
    color: #0098A6;
 }

a.checkboxButton.checked::before {
   content: "X";
   color: #FFF !important;
}

.widget.dialog #buttons a.checkboxButton.active {
    background-color: #217C32;
    color : #ffffff;
}
