.screen.discharged  {
    background: url(../images/bk_intro1.jpg) top center no-repeat;
    width: 1280px;
    height: 720px;
    font-size: 28px;
    position: absolute;
    display: inline-block;
    z-index: 0;
    -webkit-box-shadow: 6px 6px 8px #313232;
    box-shadow: 6px 6px 8px #313232;
}


.screen.discharged .logo{
    background: url(../images/logo_small.png) top left no-repeat;
    width: 300px;
    height: 64px;
    display: block;
    float: left;
    margin: 30px 0 0 64px;
}

.screen.discharged #remote {
    background: url(../images/img_pillowspeaker.png) no-repeat;
    width: 150px;
    height: 400px;
    /*margin: 120px 0px 0px -60px;*/
    display: inline-block;
    position: absolute;
    left: 1040px;
    top: 110px;
}

.screen.discharged #dischargetext {
    width: 600px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 600px;
    top: 440px;
}

.screen.discharged #dischargetext p {
    text-align: right;
    color: rgba(251,251,251,1.00);
    text-shadow: 4px 4px 4px rgba(0,0,0,0.60);
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
}

.screen.discharged #dischargetext #time p{
    font-size: 70px;
    font-weight: normal;
    text-align: right;
    line-height: 20px;
 }

.screen.discharged #dischargetext #date p{
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
}

.screen.discharged #heading {
    width: 525px;
    height: 38px;
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 43px;
    text-align: right;
    color: #004960;
    text-shadow: 0px 0px;
}

.screen.discharged #instructions {
    width: 1280px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 162px;
    text-align: center;
    color: #FCFCFC;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.80);
}

.screen.discharged #revision {
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 72px;
    top: 660px;
}

.screen.discharged #revision span {
    text-align: left;
    color: rgba(251,251,251,0.8);
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.60);
}
