#videoComprehensionDialog #buttons,
#feedbackDialog #buttons {
    width: 420px;
	height: 172px;
	font-size: 36px;
    display: block;
    margin: 0;
    position: relative;
    top: auto;
    left: auto;
}
#feedbackDialog #buttons { margin-top: 55px; }

#videoComprehensionDialog .col-b p {
    font-size: 40px;
}