*	{
	line-height: 1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	position: static;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
	background: url(../images/bk_home2.jpg) top left no-repeat;
}

#clear {
clear: both;
}

/* intro panel */

#intro {
	background: url(../images/bk_intro1.jpg) top center no-repeat;
	/*background: url(../images/TEST-for-discharge-screen.jpg) top center no-repeat;*/
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
}

#intro #logo{
	background: url(../images/logo_small.png) top left no-repeat;
	width: 300px;
	height: 64px;
	display: block;
	float: left;
	margin: 30px 0 0 64px;
}

#intro #remote {
	background: url(../images/img_pillowspeaker.png) no-repeat;
	width: 150px;
	height: 400px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 1040px;
	top: 170px;
}

#intro #dischargetext {
	width: 600px;
	height: 200px;
	display: inline-block;
	position: absolute;
	left: 70px;
	top: 420px;
}
#intro #dischargetext p {
	text-align: left;
	color: rgba(251,251,251,1.00);
	text-shadow: 4px 4px 4px rgba(0,0,0,0.60);
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
}
#intro #dischargetext-col2 {
	width: 600px;
	height: 200px;
	display: inline-block;
	position: absolute;
	right: 100px;
	top: 350px;
}
#intro #dischargetext-col2 p {
	text-align: right;
	color: rgba(251,251,251,1.00);
	text-shadow: 4px 4px 4px rgba(0,0,0,0.60);
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
}

#intro #versiontext {
	width: 200px;
	height: 100px;
	display: inline-block;
	position: absolute;
	left: 800px;
	top: 430px;
}

#intro #versiontext p {
	text-align: left;
	color: rgba(251,251,251,0.8);
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.60);
}	
#intro #heading {
	width: 710px;
	height: 38px;
	display: inline-block;
	position: absolute;    
    right: 76px;
	top: 30px;
	text-align: right;
	color: #004960;
	text-shadow: 0px 0px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.00);
}

#intro #regtextheading {
	width: 1100px;
	height: 50px;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 186px;
	text-shadow: 2px 2px 10px #030303;
}

#intro #regtext {
	width: 500px;
	height: 400px;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 250px;
	text-shadow: 2px 2px 8px #030303;

}
#intro #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	
}

#intro #regtext2 {
	width: 560px;
	height: 400px;
	display: inline-block;
	position: absolute;
	left: 670px;
	top: 250px;
	text-shadow: 2px 2px 8px #030303;	
}

#intro #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 10px 0px 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 20px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	letter-spacing: .5px;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	letter-spacing: .5px;
}
	
#intro #instruction {
	width: 220px;
	height: 280px;
	display: inline-block;
	position: absolute;
	left: 75px;
	top: 250px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: absolute;
	left: -1px;
	top: 10px;
}


#intro #instruction p.text1 {
	color: #FCFCFC;
	text-align: left;
	text-shadow: 2px 2px 2px rgba(66,66,66,0.20);
}

#intro #instruction p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}

#intro #instruction p.text2-sm  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00);
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
}

#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 650px;
	height: 370px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 324px;
	top: 115px;
	background-color: rgba(0,162,177,1.00);
}

#intro #aboutus #image {		
	height: 360px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}


#intro #buttons {
	width: 640px;
	height: 216px;
	font-size: 28px;
	margin: 300px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 278px;
	top: 18px;
}

#intro #buttons a {
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 2px 2px 2px rgba(51,51,51,0.50);
	color: rgba(252,252,252,1.00);
	/*background-color: #5FAAD8;*/
	background-color: #14467C;
	width: 640px;
	height: 50px;
	border-radius: 6px;
	float: left;
	box-shadow: 3px 3px 3px rgba(51,51,51,0.50);
	-webkit-box-shadow: 3px 3px 3px rgba(51,51,51,0.50);
}

#intro #buttons a.active {
	background-color: #84c256;
}

#intro #buttons a.mycare {
	margin: 0px 0px 0px 0px;
	position: relative;
}

#intro #buttons a.watchtv {
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
}
#intro #buttons a.watchvideo {
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
}

.page.secondary #menu .major a.selected {
	background-color: #84c256;
}
