/* intro2 panel */

#intro2 {
	width: 1280px;
	height: 720px;
	font-size: 36px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
}

#intro2 #logo{
	background: url(../images/logo_small.png) top left no-repeat;
    width: 420px;
    height: 156px;
	display: block;
	float: left;
	margin: 34px 0 0 430px;
}

#intro2 #heading {
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}

#intro2 #regtext {
	width: 460px;
	height: 483px;


	display: inline-block;
	position: absolute;
	left: 120px;
	top: 220px;


}
#intro2 #regtext p {
	min-height: 22px;
	line-height: 26px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 24px;

}

#intro2 #regtext2 {
	width: 580px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 630px;
	top: 220px;


}

#intro2 #regtext2 p {
	min-height: 22px;
	line-height: 26px;
	margin: 0px 10px 0px 10px;
	text-align: left;
	position: relative;
	font-weight: 600;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000000;
}

#intro2 #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	text-shadow: 1px 1px 2px #000000;

}

#intro2 #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
	text-shadow: 1px 1px 2px #000000;

}

#intro2 #buttons {
	width: 420px;
	height: 172px;
	font-size: 36px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 65px;
	top: 130px;
}

#intro2 #buttons a {
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #265383;
	width: 420px;
	height: 50px;
	border-radius: 6px;
	box-shadow: 6px 4px 6px #333333;
	text-shadow: 2px 2px 4px #000000;
}

#intro2 #buttons a.active {
	background-color: rgba(0,162,177,1.00);
}

#intro2 #buttons a:first-child {
	margin-top: 0;
}

#intro2 #buttons a#accept {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro2 #buttons a#decline {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

