.screen.moviesynopsis {
}
.screen.moviesynopsis .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}
.screen.moviesynopsis .page-title {
	left: 66px;
	top: 140px;
	width: 344px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: .5px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	background-color: #008AB0;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	font-weight: bold;
	box-shadow: 3px 4px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
	overflow: hidden;
}

.screen.moviesynopsis #header {
	width: 100%;
	height: 160px;
	position: absolute;
	/*background: url(../images/header_img.jpg) top left no-repeat;*/
	background-color: #FDFDFD;
}

.screen.moviesynopsis #header #heading1 {
	/*height: 100px;
	left: 109px;
	width: 456px;*/
	height: 340px;
	top: 350px;
	left: 130px;
	position: absolute;
	display: inline-block;
	float: left;
	width: 273px;
	z-index: 2;
}

.screen.moviesynopsis #header #heading1 p {
	color: #FFFFFF;
}

.screen.moviesynopsis #header #heading2 {
	width: 803px;
	height: 56px;
	top: 53px;
	left: 454px;
	position: absolute;
	float: left;
	z-index: 1;
}

.screen.moviesynopsis #header #heading2 p {
	color: #323334;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: 600;
	text-shadow: 0 0 0;
}
div.menufooter {
	width: 260px;
	height: 40px;
	top: 664px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}
div.menufooter p {
	color: #F5C58F;
	font-size: 24px;
	text-shadow: 2px 1px 1px rgba(0,0,0,0.80);
}
div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}
div.poster-img {
	width: 216px;
	height: 286px;
	top: 380px;
	left: 130px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
	/*border: 6px solid rgba(33,124,50,1.00);
	/*-webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.50);*/
	/*box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.50);*/
}
div.poster2-img {
	width: 216px;
	height: 286px;
	top: 346px;
	left: 130px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
	/*border: 6px solid rgba(33,124,50,1.00);
	/*-webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.50);*/
	/*box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.50);*/
}

.screen.moviesynopsis #content {
	width: 100%;
	height: 560px;
	top: 160px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.screen.moviesynopsis #menu {
	width: 100%;
	height: 100%;
}

.screen.moviesynopsis #menu .major {
	position: absolute;
	width: 344px;
	height: 450px;
	left: 66px;
	top: 25px;
	padding: 10px 0 0 0;
	/*box-shadow: 2px 2px 6px 0px #0C1E32;
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;*/
	background-color: rgba(0,0,0,0.40);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	overflow-y: auto;
	border: 6px solid #008AB0;
}

.screen.moviesynopsis #menu .major a {
	position: relative;
	display: block;
	/*height: 45px;*/
	margin-top: 7px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: #FFFFFF;
	/*border-radius: 8px;
	background-color: rgba(86,162,214,.90);*/
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
}

.screen.moviesynopsis #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #F5C58F;
	/*background-color: rgba(48,138,200,0.70);
	border-radius: 8px;*/
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
}

.screen.moviesynopsis #menu .major a.selected {
	/*background-color: rgba(0,162,177,1.00);
	color: #FCFCFC;*/
	background-color: #a5cb82;
	padding-bottom: 8px;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;
	border-radius: 8px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
}

.screen.moviesynopsis #menu .minor {
	position: absolute;
	width: 810px;
	height: 377px;
	top: 93px;
	left: 460px;

}

.screen.moviesynopsis #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.screen.moviesynopsis #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.screen.moviesynopsis #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.screen.moviesynopsis #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.screen.moviesynopsis #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.screen.moviesynopsis #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.screen.moviesynopsis #menu .minor .back-tab {
	position: absolute;
	padding-top: 0px;
	display: none;
}

.screen.moviesynopsis #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	/*margin: 40px 0px 0px 25px;*/
}

.screen.moviesynopsis #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 710px;
}

.screen.moviesynopsis #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen.moviesynopsis #menu .minor .sub-header {
	margin-top: 0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.screen.moviesynopsis #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.screen.moviesynopsis #menu .minor .sub-content {
	margin-top: 0px;
	height: 420px;
	width: 800px;
	overflow: hidden;
	position: relative;
}

.screen.moviesynopsis #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 20px;
}

.screen.moviesynopsis #menu .minor .sub-content .sub-image1 img
,.screen.moviesynopsis #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.screen.moviesynopsis #menu .minor .sub-content.layout1 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	/*width: 490px;*/
	width: 100%;
	padding-top: 0px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 0px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.screen.moviesynopsis #menu .minor .sub-content.layout2 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.screen.moviesynopsis #menu .minor .sub-content.layout2b {

}

.screen.moviesynopsis #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.screen.moviesynopsis #menu .minor .sub-content.layout3 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.screen.moviesynopsis #menu .minor .sub-content.layout4 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.screen.moviesynopsis #menu .minor .sub-content.layout5 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.screen.moviesynopsis #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.screen.moviesynopsis #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.screen.moviesynopsis #menu .minor .sub-content.layout6 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.screen.moviesynopsis #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.screen.moviesynopsis #menu .minor .sub-content.layout7 {

}

.screen.moviesynopsis #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	font-size: 32px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout7 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout7 .sub-image1{
	width: 32px;
	height: 32px;
	margin: -20px 0 0 0px;
}

.screen.moviesynopsis #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}
