.medicationInfo {
    display: block;
    position: absolute;
    width: 830px;
    height: 450px;
    top: 30px;
    left: 430px;
    line-height: 1.2;
    z-index: 100;
    padding: 5px 20px 20px;
	background-color: #053F7D;
	border: 4px solid #00A2B1;
	border-radius: 20px 20px;
}

.medicationInfo ul {
    height: 324px;
    overflow-y: scroll;
}
.medicationInfo ul::-webkit-scrollbar { 
    display: none; 
} 

.medicationInfo ul,
.medicationInfo li { 
    list-style-type: none; 
    margin: 0;
}
.medicationInfo li {
    float: left;
    clear: both;
    width: 782px;
    padding: 2px 0;
}

.medicationInfo ul {
    position: relative;
    margin-top: 40px;
    width: 782px;
    height: 324px;
    clear: both;
}
.medicationInfo ul .med-name a.button {
    background: transparent;
}
.medicationInfo ul .med-name a.button.active,
.medicationInfo ul#medlist > li.active {
    width: 782px;
    background-color: #00A2B1;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;
	border-radius: 8px;
}
.medicationInfo ul#medlist > li.active.open {
    position: absolute;
    top: 0;
    left: 0;
}
#medication-detail {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	border-radius: 20px 20px;
    background: #053F7D;
}

.medicationInfo ul#medlist > li a {
    float: left;
    clear: both;
    width: 100%;
    padding: 10px 20px;
}
#medlist-screen-title {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px;
    padding: 4px 4px 4px 0;
    line-height: 120%;
}
#medlist-screen-title > span,
.medlist-item-name > span {
    color: #000000;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
	background-color: #F5F187;
}
.medlist-item-name{
    display: block;
    width: 600px;
    float: left;
    margin: 5px 0 0;
}

#medlist-screen-desc {
    clear: both;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
}
.medlist-detail-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 360px;
    margin: 0;
    overflow: hidden;
    padding: 0 20px;
}
.medlist-item-desc {
    float: left;
    width: 100%;
    clear: both;
    margin: 30px 0 0;
    line-height: 110%;
}
.medlist-item-footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    clear: both;
    margin: 0;
    padding: 0 20px;
    line-height: 110%;
    font-size: .95em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
}

.med-name,
.med-name a.button {
    line-height: 100%;
}
.med-name a.button {
    display: block;
    padding: 4px 8px;
}
.med-desc {
    position: absolute;
    display: none;
    width: 822px;
    height: 442px;
    left: 0;
    top: 0;
    padding: 5px 20px 20px;
	background-color: #053F7D;
	border-radius: 20px 20px;
}

#medlist .btn-med-desc-close,
#medication-detail .btn-med-desc-close {
    float: right;
    cursor: pointer;
    margin: 5px 0 0;
	padding: 6px 12px;
    background-color: #00A2B1;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
	box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
#medication-detail .btn-med-desc-close {
    margin: 10px 60px 0 0;
}

#medinfo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,.3);
}

.screen.secondary.mymedications  #menu .major a#menu3 {
    color: #FFFF92;
}

.screen.mymedications #content #pharvisit-notification {
    position: absolute;
    margin-top: -530px;
    margin-left: 405px;
    height: 420px;
    width: 850px;
    padding-top: 18px;
    padding-left: 45px;
    padding-right: 12px;
    z-index: 1;
    font-weight: normal;
    font-size: .9em;
}
