.screen.primary {
}

.screen.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

.screen.primary #header #patient {
	width: 710px;
	height: 38px;
	display: inline-block;
	position: absolute;
    /*left: 780px;*/
    right: 76px;
	top: 26px;
}

.screen.primary #header #patient p,
.screen.primary #header #patient #patient-name {
	text-align: right;
	color: #00475C;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.00);
}


.screen.primary #header #date {
	width: 477px;
	height: 60px;
	top: 118px;
	left: 724px;
	position: absolute;
	display: inline-block;
	float: left;
}

.screen.primary #header #date p,
.screen.primary #header #patient #room-number,
.screen.primary #header #patient #phone,
.screen.primary #header #patient #room-phone {
	line-height: 28px;
	text-align: right;
	color: #363534;
	font-size: 22px;
	text-shadow: 0px 0px;
}

.screen.primary #header #slideshow{
	position: absolute;
	/*background: url(../KPNW_JaoTech_slideshow-only.swf) no-repeat;*/
	width: 330px;
	height: 186px;
	display: block;
	float: left;
	left: 880px;
	top: 30px;
}

.screen.primary #content {
	width: 100%;
	height: 720px;
	top: 0px;
	position: absolute;
}

.screen.primary #menu {
	width: 100%;
	height: 100%;
}

.screen.primary #menu .slides {
	position: absolute;
	top: 230px;
	left: 0px;
	width: 1280px;
	height: 490px;
	/*background: url('../images/img_main_entertainment.jpg') top left no-repeat;*/
}

.screen.primary #menu .slides .slide {
	width: 1280px;
	height: 600px;
	/*display: none;*/
	/*webkit-animation: fadein 1s; 
    animation: fadein 1s;*/
}
/*@-webkit-keyframes fadein {
    from { opacity: .5; }
    to   { opacity: 1; }
}*/


.screen.primary #menu .slides #menu1-slide {
	/*background: url('../images/img_main_entertainment.jpg') top left no-repeat;*/

}

.screen.primary #menu .slides #menu2-slide {
/*background: url('../images/img_main_dine.jpg') top left no-repeat;*/
}

.screen.primary #menu .slides #menu3-slide {
	/*background: url('../images/img_main_visit.jpg') top left no-repeat;*/
}

.screen.primary #menu .slides #menu4-slide {
/*	background: url('../images/img_main_myhealth.jpg') top left no-repeat;*/
}

.screen.primary #menu .slides #menu5-slide {
	/*background: url('../images/img_main_spirit.jpg') top left no-repeat;*/
}


.screen.primary #menu .major {
	/*background: url('../images/menubar_slice.png') repeat-x;*/
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: 7px;
	top: 164px;
}

.screen.primary #menu .major a {
	position: absolute;
	height: 70px;
	margin: 0;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 28px;
	color: rgba(255,255,255,1.00);
	top: -11px;
	font-weight: bold;
	letter-spacing: 1px;
}

.screen.primary #menu .major a.selected {
	font-size: 34px;
	/*background-repeat: no-repeat;
	background-position: center top no-repeat;*/
	background-color: #073358;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 78px;
	margin-top: -5px;
	padding-top: 30px;
	color: #FFFFFF;
	border-top-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.screen.primary #menu .major a#menu1 {
	left: 60px;
	width: 282px;	
}

.screen.primary #menu .major a#menu2 {
	left: 320px;
	width: 252px;
}

.screen.primary #menu .major a#menu3 {
	left: 528px;
	width: 252px;
}

.screen.primary #menu .major a#menu4 {
	left: 730px;
	width: 252px;
}

.screen.primary #menu .major a#menu5 {
	left: 936px;
	width: 275px;
}

.screen.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 493px;
	top: 226px;

}

.screen.primary #menu .minor .menu-group {
	position: absolute;
	border: 6px solid #073358;
	background-color: rgba(22,25,27,0.80);
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

.screen.primary #menu .minor #menu1-group {
	left: 67px;
	width: 340px; /*added 12 for box shadow*/
	border-top-right-radius: 10px 10px;
}

.screen.primary #menu .minor #menu2-group {
	left: 290px;
	width: 330px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.screen.primary #menu .minor #menu3-group {
	left: 430px;
	width: 456px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.screen.primary #menu .minor #menu4-group {
	left: 692px;
	width: 344px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.screen.primary #menu .minor #menu5-group {
	left: 868px;
	width: 350px;
	border-top-left-radius: 10px 10px;
}

.screen.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: .5px;
}


.screen.primary #revision {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #D2E5F4;
}

.screen.primary #revision span {
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
}
