.screen.secondary {
    /*background: #4c7401;*/
	/* background: url(../images/bk_dine1.jpg) top left no-repeat; */
}
.screen.secondary .bk-rs-vieworder {
	width: 1280px;
	height: 720px;
	/* background: url(../images/bk_dine2.jpg) top left no-repeat; */
	
}

.screen.secondary .bk-rs-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	/* background: url(../images/bk_rs-orderitem.jpg) top left no-repeat; */
	
}
.screen.secondary .bk-rs-vieworder-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	/* background: url(../images/bk_rs-vieworder.jpg) top left no-repeat; */
	
}

.screen.secondary .bk-rs-bev {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	/*background: url(../images/bk_dine3.jpg) top left no-repeat;*/
	
}
.screen.secondary .bk-rs-bev-qty {
    /*background: #4c7401;*/
	width: 1280px;
	height: 720px;
	/* background: url(../images/bk_rs-orderitem-bev-qty.jpg) top left no-repeat; */
	
}
.screen.secondary .popup-qty{
	position: absolute;
	top: 150px;
	left: 420px;
	width: 800px;
	height: 420px;
	background-color: #206D9E;
	/*background: url(../images/dine-bk-popup.png) top center no-repeat;*/
	z-index: 0;
	border-radius: 24px;
	border-left: 4px solid #5A9ED3;
	border-right: 4px solid #5A9ED3;
	border-bottom: 4px solid #5A9ED3;
	border-top: 60px solid #5A9ED3;
}
.screen.secondary .popupbk {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background: url(../images/dine-bk-popup.png) top left no-repeat; */
	z-index: 1;
}

.screen.secondary #content {
	background-color: rgba(69,70,109,0.20);

}

.screen.secondary #content #maintext{
	position: absolute;
	top: 20px;
	left: 0px;
	height: 400px;
	width: 1000px;
	padding-left: 110px;
}
.screen.secondary #content #maintext p {
	font-weight: bold;
	font-size: 40px;
}
.screen.secondary #content #popuptext{
	top: 200px;
	margin-left: 200px;
	height: 400px;
	width: 950px;
}
.screen.secondary #content #popuptext p {
	font-weight: bold;
	font-size: 46px;
	line-height: 56px;
	text-align: center;
}
.screen.secondary #content #channelup{
	position: absolute;
	margin-top: 71px;
	margin-left: 462px;
	height: 59px;
	width: 118px;
	z-index: 6;
	/* background: url(../images/arrow_up-rs.png) top left no-repeat; */
	text-align: center;
	color: #000000;
	line-height: 64px;
	font-size: 50px;
}
.screen.secondary #content #channelup-limit{
	position: absolute;
	margin-top: 71px;
	margin-left: 462px;
	height: 59px;
	width: 118px;
	z-index: 6;
	/* background: url(../images/arrow_up-rs.png) top left no-repeat; */
	text-align: center;
	color: #000000;
	line-height: 64px;
	font-size: 50px;
	opacity: 0.4;
}
.screen.secondary #content #channeldn{
	position: absolute;
	margin-top: 250px;
	margin-left: 462px;
	height: 59px;
	width: 118px;
	z-index: 6;
	/* background: url(../images/arrow_dn-rs.png) top left no-repeat; */
	text-align: center;
	color: #000000;
	line-height: 36px;
	font-size: 64px;
}

.screen.secondary #content #qtywindow{
	position: absolute;
	margin-top: 130px;
	margin-left: 460px;
	height: 120px;
	width: 120px;
	z-index: 4;
	background-color: #558BBE;
	border: 10px solid #E0925B;
	border-radius: 4px;
}
.screen.secondary #content #qtywindow p {
	font-weight: bold;
	font-size: 60px;
	line-height: 100px;
	text-align: center;
}

.screen.secondary #content #popuptext-qty{
	position: absolute;
	margin-top: 10px;
	margin-left: 640px;
	height: 360px;
	width: 560px;
}
.screen.secondary #content #popuptext-qty p {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: left;
}
.meal-buttons {
	height: 380px;
	width: 500px;
}

.meal-button {
    font-size: 34px;
    top: 0px;
    text-align: left;
	background-color: rgba(15,67,100,1.00);
    border-radius: 8px;
    float: left;
    width: 500px;
    height: 44px;
    line-height: 42px;
    margin: 6px 40px;
    padding: 0px 30px;
}

.meal-text {
    height: 380px;
	width: 670px;
	font-size: 34px;
    top: 12px;
	left: 550px;
	position: absolute;
    text-align: left;
	background-color: rgba(15,67,100,0.70);
    border-radius: 8px;
    /*float: left;*/
    line-height: 54px;
    margin: 0px 20px;
    padding: 0px 30px;
}

.course-buttons {
	height: 80px;
	position: absolute;
	top: 460px;
	left: 110px;
	z-indes:20;
}

.course-button {
    font-size: 40px;
	top: 0px;
	text-align: center;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 86px;
	height: 80px;
	line-height: 80px;
	margin: 0px 8px;
	padding: 0 0px;	
}
.item-buttons {
	height: 420px;
	width: 754px;
}

.item-button {
    font-size: 34px;
    top: 0px;
    text-align: left;
	background-color: rgba(15,67,100,1.00);
    border-radius: 8px;
    float: left;
    width: 700px;
    height: 44px;
    line-height: 42px;
    margin: 4px 40px;
    padding: 0px 30px;
}
.item-image-bk {
	position: absolute;
	float: left;
	width: 304px;
	height: 192px;
	opacity: 1.0;
	top: 80px;
	left: 850px;
	z-index: 1;
	/* background: url(../images/rs-item-bk.png) top left no-repeat; */
}

.item-image-bk .item-image {
	position: absolute;
	width: 248px;
	height: 158px;
	opacity: 1.0;
	top: 20px;
	left: 35px;
	z-index: 2;
    display: none;
}
.item-buttons .item-button #item1 .item-image1 {
	/* background: url(../images/rs-item_burger-classic.jpg) top left no-repeat; */
	z-index: 2;
}

.item-scrollbar {
	position: absolute;
	left: 750px;
	top: 8px;
	height: 416px;
	z-index: 4;
	width: 38px;
	/* background: url(../images/rs-scrollbar.png) top left no-repeat; */
}
#footer {
	position: absolute;
	left: 0;
	top: 560px;
	height: 46px;
	width: 580px;	/*background-color: rgba(9,51,77,0.70);*/
}

.footer-buttons {
	margin: 0px 0px;
	margin-left: 108px; /*new*/
	/*float: left;       new*/
	width: 500px;

}

.footer-button {
	font-size: 28px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 200px;
	height: 40px;
	line-height: 38px;
	margin: 0px 10px;
	padding: 0 0px;
}
.footer-button-wide {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 440px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.footer-button-med {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 360px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.footer-button-narrow {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 130px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 0px;
}
.footer-helpbutton {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: #2B82BB;
	border-radius: 8px;
	float: left;
	width: 90px;
	height: 46px;
	line-height: 44px;
	margin: 10px 20px;
	padding: 0 10px;
}
.footer-text {
	font-size: 32px;
	position: absolute;
	/*left: 460px;*/
	top: 16px;
	left: 120px;
	text-align: left;
	height: 40px;
	width: 600px;
}
#footer-popup  {
	position: absolute;
	left: 130px;
	top: 500px;
	height: 150px;
	width: 1000px;
}

.footer-buttons-popup  {
}

.footer-button-popup {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 420px;
	height: 46px;
	line-height: 44px;
	margin: 10px 40px;
	padding: 0 10px;
}

#footer-popup-qty  {
	position: absolute;
	left: 220px;
	top: 500px;
	height: 100px;
	width: 1000px;
}

.footer-buttons-popup-qty  {
	margin-left: 200px;
}

.footer-button-popup-qty {
	font-size: 32px;
	top: 0px;
	text-align: center;
	background-color: rgba(15,67,100,1.00);
	border-radius: 8px;
	float: left;
	width: 320px;
	height: 46px;
	line-height: 44px;
	margin: 10px 40px;
	padding: 0 10px;
}