.screen.secondary {
}
.screen.secondary .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: url(../images/bk_default2.jpg) top left no-repeat;*/
	background-color:#0A497C;
}

.screen.secondary .page-title {
	left: 66px;
	top: 140px;
	width: 344px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: .5px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	background-color: #2491B0;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	font-weight: bold;
	box-shadow: 3px 4px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
	overflow: hidden;
}

.screen.secondary #header {
	width: 100%;
	height: 160px;
	position: absolute;
	/*background: url(../images/header_img.jpg) top left no-repeat;*/	
	}

.screen.secondary #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.screen.secondary #header #heading1 p {
	color: #00556C;
	text-shadow: 0px 0px;
}

.screen.secondary #header #iframeheader {
    height: 60px;
    top: 35px;
    left: 94px;
    position: absolute;
    display: inline-block;
    float: left;
}

.screen.secondary #header #iframeheader p {
    color: #003768;
	text-shadow: 0 0;
}

.screen.secondary #header #cboard1 {
	height: 110px;
	width: 440px;
	top: 50px;
	left: 460px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #85B7D9;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.screen.secondary #header #cboard1 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.screen.secondary #header #cboard2 {
	height: 110px;
	width: 410px;
	top: 50px;
	left: 860px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #5EA083;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.screen.secondary #header #cboard2 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.screen.secondary #header #heading2 {
	width: 803px;
	height: 56px;
	top: 53px;
	left: 454px;
	position: absolute;
	float: left;
	z-index: 1;
}	

.screen.secondary #header #heading2 p {
	color: #323334;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: bold;
	text-shadow: 0 0 0;
}

/* EPG STYLES*/

div.datetime {
    width: 460px;
    height: 30px;
    top: 32px;
    right: 30px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: right;
}

div.datetime p {
	line-height: 24px;
	color: #04090E;
	font-weight: bold;
	text-shadow: 0px 0px;
	font-size: 26px;
}
div.datetime-pressmenu {
    width: 460px;
    height: 20px;
    top: 120px;
    right: 30px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: right;
}
div.datetime-pressmenu p {
	line-height: 24px;
	color: #0098A6;
	font-weight: bold;
	text-shadow: 0px 0px;
	font-size: 26px;
}

div.epg-date {
    width: 220px;
    height: 20px;
    top: 204px;
    left: 80px;
    position: absolute;
    text-align: left;
}
div.epg-date p {
	line-height: 24px;
	color: #04090E;
	font-weight: bold;
	text-shadow: 0px 0px;
	font-size: 28px;
}
div.epg-program {
    width: 520px;
    height: 20px;
    top: 40px;
    left: 340px;
    position: absolute;
    text-align: left;
}
div.epg-program p {
	line-height: 26px;
	color: #04090E;
	font-weight: bold;
	text-shadow: 0px 0px;
	font-size: 30px;
}
/* END: EPG STYLES*/
div.menufooter {
	width: 260px;
	height: 40px;
	top: 664px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}
div.menufooter p {
	color: #F5C58F;
	font-size: 24px;
	text-shadow: 2px 1px 1px rgba(0,0,0,0.80);
}
div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}

.screen.secondary #content {
	width: 100%;
	height: 560px;
	top: 160px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.screen.secondary #menu {
	width: 100%;
	height: 100%;
}

.screen.secondary #menu .major {
	position: absolute;
	width: 344px;
	height: 450px;
	left: 66px;
	top: 40px;
	padding: 10px 0 0 0;
	/*box-shadow: 2px 2px 6px 0px #0C1E32;
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;*/
	background-color: rgba(0,0,0,0.40);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	overflow-y: auto;
	border: 6px solid #073358;
}

.screen.secondary #menu .major a {
	position: relative;
	display: block;
	/*height: 45px;*/
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: #FFFFFF;
	/*border-radius: 8px;
	background-color: rgba(86,162,214,.90);*/
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
}

.screen.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #F5C58F;
	/*background-color: rgba(48,138,200,0.70);
	border-radius: 8px;*/
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
}
/*  FOR BACK BUTTONS THAT DO NOT GO BACK ONE PAGE, BUT TO A SPECIFIC PAGE, like from Medications, to NOT go back to the Security Popup */

.screen.secondary #menu .major a.back-button-fake {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #F5C58F;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
	
}
.screen.secondary #menu .major a.selected {
	/*background-color: rgba(0,162,177,1.00);	
	color: #FCFCFC;*/
	background-color: #84c256;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;
	border-radius: 8px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.90);
	padding-bottom: 8px;
}

.screen.secondary #menu .minor {
	position: absolute;
	width: 800px;
	height: 390px;
	top: 40px;
	left: 430px;
}

.screen.secondary #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 442px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.0);
}

.screen.secondary #menu .minor .arrow-button.sub-page-prev {	
	left: -10px;	
}

.screen.secondary #menu .minor .arrow-button.sub-page-next {
	right: 330px;
}

.screen.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.screen.secondary #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
	opacity: .6;
}


.screen.secondary #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 325px;
	opacity: .6;
}


.screen.secondary #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.screen.secondary #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	margin: 40px 0px 0px 25px;
}

.screen.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	/*width: 800px;*/
}

.screen.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen.secondary #menu .minor .sub-header {
	margin-top: -0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	padding-left: 12px;	
}

.screen.secondary #menu .minor .sub-footer {
	font-size: 30px;
	position: absolute;
	height: 44px;
	color: #C6CFD1;
	text-align: center;
	top: 460px;
	left: 55px;
	width: 580px;
	text-shadow: 2px 2px 5px rgba(0,0,0,1.00);
}

.screen.secondary #menu .minor .sub-content {
	margin-top: -52px;
	height: 516px;
	width: 820px;
	overflow: hidden;
	position: relative;
	padding-left: 10px;
}

.screen.secondary #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 28px;
	padding-right: 6px;
}

.screen.secondary #menu .minor .sub-content .sub-image1 img
,.screen.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.screen.secondary #menu .minor .sub-content.layout1 {
	
}

.screen.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 18px;
	padding-left: 15px;
}
.screen.secondary #menu .minor .sub-content.layout1 .sub-text1 p{
	line-height: 38px;
}

.sp .screen.secondary #menu .minor .sub-content.layout1 p{
	font-size: 26px;
}

.screen.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 1b, text -2 columns */
.screen.secondary #menu .minor .sub-content.layout1b {
	
}

.screen.secondary #menu .minor .sub-content.layout1b .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 18px;
	padding-left: 15px;
}
.screen.secondary #menu .minor .sub-content.layout1b .sub-text1 p{
	line-height: 38px;
}

.sp .screen.secondary #menu .minor .sub-content.layout1b p{
	font-size: 24px;
}

.screen.secondary #menu .minor .sub-content.layout1b .sub-text2{
	display: inline-block;
	position: absolute;
	left: 400px;
	top: 71px;
	width: 300px;
	padding-top: 0px;
}

.screen.secondary #menu .minor .sub-content.layout1b .sub-image1{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout1b .sub-image2{
	display: none;
}

	/* Layout 1b, text -2 columns - second column higher (dine menus)*/
.screen.secondary #menu .minor .sub-content.layout1c {
	
}

.screen.secondary #menu .minor .sub-content.layout1c .sub-text1{
	display: inline-block;
	position: absolute;
	width: 395px;
	padding-left: 15px;
	top: 40px;
}
.screen.secondary #menu .minor .sub-content.layout1c .sub-text1 p{
	line-height: 32px;
	font-size: 26px;
}

.sp .screen.secondary #menu .minor .sub-content.layout1c p{
	font-size: 24px;
}

.screen.secondary #menu .minor .sub-content.layout1c .sub-text2{
	display: inline-block;
	position: absolute;
	left: 400px;
	top: 40px;
	width: 400px;

}
.screen.secondary #menu .minor .sub-content.layout1c .sub-text2 p{
	line-height: 32px;
	font-size: 26px;
}
.screen.secondary #menu .minor .sub-content.layout1c .sub-text3{  /*page number*/
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 0px;
	width: 500px;
	padding-top: 0px;
	margin-top: -5px;
}
.screen.secondary #menu .minor .sub-content.layout1c .sub-text3 p{
	line-height: 34px;
	font-size: 26px;
	text-align: right;
	color: #CEF3FD;
}
.screen.secondary #menu .minor .sub-content.layout1c .sub-image1{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout1c .sub-image2{
	display: none;
}
														  
/* Layout 2, text and image side by side */
.screen.secondary #menu .minor .sub-content.layout2 {
	
}

.screen.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 410px;
	padding-top: 18px;
	padding-left: 15px;
	z-index: 2;
}
.screen.secondary #menu .minor .sub-content.layout2 .sub-text1 p{
	line-height: 38px;
}
.screen.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	position: absolute;
	float: right;
	width: 200px;
	height: 200px;
	left: 510px;
	top: 100px;
	z-index: 1;
}

.screen.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.screen.secondary #menu .minor .sub-content.layout2b {
	
}
.screen.secondary #menu .minor .sub-content.layout2b .sub-text1{
	/*display: inline-block;*/
	float: left;
	width: 790px;
	padding-top: 10px;
	padding-left: 15px;
	z-index: 2;
}
.screen.secondary #menu .minor .sub-content.layout2b .sub-text1 p {
	line-height: 36px;
}

.screen.secondary #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	float: left;
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 10px;
	padding-left: 15px;
	z-index: 1;
	
}
.screen.secondary #menu .minor .sub-content.layout2b .sub-text2 p {
	line-height: 36px;
}
.screen.secondary #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.screen.secondary #menu .minor .sub-content.layout3 {
	
}

.screen.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.screen.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.screen.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.screen.secondary #menu .minor .sub-content.layout4 {
	
}

.screen.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.screen.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.screen.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.screen.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image - SURVEYS */
.screen.secondary #menu .minor .sub-content.layout5 {
	margin-top: 0px;
	margin-left: -22px;
	height: 516px;
	width: 850px;
	overflow: hidden;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.screen.secondary #menu .minor .sub-content.layout5 .sub-text1{
	/*display: none;*/
	display: inline-block;
	position: absolute;
	height: 225px;
	width: 780px;
	padding-top: 18px;
	padding-left: 45px;
	z-index: 1;
}
.screen.secondary #menu .minor .sub-content.layout5 .sub-text1 p{
	line-height: 36px;
}
.screen.secondary #menu .minor .sub-content.layout5 .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 490px;
	left: 586px;
	padding: 0px;
	z-index: 1;
}

.screen.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 850px;
	height: 420px;
	position: absolute;
	left: -5px;
	/*width: 100%;
	height: 100%;*/
	opacity: 1.00;
}

.screen.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}

/* Layout 5b, text overlays image - ROOM SERVICE ORDERING */

.screen.secondary #menu .minor .sub-content.layout5b {
	margin-top: -60px;
	margin-left: -22px;
	height: 516px;
	width: 850px;
	overflow: hidden;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.screen.secondary #menu .minor .sub-content.layout5b .sub-text1{
	/*display: none;*/
	display: inline-block;
	position: absolute;
	height: 225px;
	width: 780px;
	padding-top: 18px;
	padding-left: 45px;
	z-index: 1;
	
}

.screen.secondary #menu .minor .sub-content.layout5b .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 490px;
	left: 586px;
	padding: 0px;
	z-index: 1;
}

.screen.secondary #menu .minor .sub-content.layout5b .sub-image1{
	width: 100%;
	height: 420px;
	position: absolute;
	left: 0px;
	/*width: 100%;
	height: 100%;*/
	opacity: 1.00;
}

.screen.secondary #menu .minor .sub-content.layout5b .sub-image2{
	display: none;
}

/* Layout 5c, text overlays image - Medications & eCareBoard */
.screen.secondary #menu .minor .sub-content.layout5c {
	margin-top: -90px;
	margin-left: -30px;
	height: 630px;
	width: 850px;
	overflow: hidden;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.screen.secondary #menu .minor .sub-content.layout5c .sub-text1{
	display: block;
	position: absolute;
	height: 480px;
	width: 800px;
	top: 20px;
	left: 50px;
	padding-top: 0px;
	padding-right: 15px;
	padding-left: 35px;
	padding-bottom: 15px;
	z-index: 4;
	line-height: 1.2;
}

.screen.secondary #menu .minor .sub-content.layout5c .sub-text2{
	/*display: none;*/
}

.screen.secondary #menu .minor .sub-content.layout5c .sub-image1{
	width: 830px;
	height: 510px;
	opacity: 1.00;
	background-color: #053F7D;
	border: 4px solid #00A2B1;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 20px 20px;
}

.screen.secondary #menu .minor .sub-content.layout5c .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.screen.secondary #menu .minor .sub-content.layout6 {
	
}

.screen.secondary #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.screen.secondary #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.screen.secondary #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}


