.screen.sleepenhancement {
	width: 1280px;
	height: 720px;
	/*background: url(../images/bk_home2.jpg) top left no-repeat*/
}
.screen.sleepenhancement .background {
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 1;
}

.screen.sleepenhancement .page-title {
	left: 66px;
	top: 140px;
	width: 544px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: .5px;
	color: #FCFCFC;
	line-height: 72px;
	background-size: cover;
	background-color: #022244;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	font-weight: bold;
	box-shadow: 3px 4px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
	overflow: hidden;
}

.screen.sleepenhancement #header {
	width: 100%;
	height: 163px;
	position: absolute;
	/*background-color: #F9F9F9;*/
	background: url(../images/header_sleep.jpg) top left no-repeat;
}

.screen.sleepenhancement #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.screen.sleepenhancement #header #heading1 p {
	color: #45466D;
}

.screen.sleepenhancement #header #heading2 {
	width: 620px;
	height: 56px;
	top: 53px;
	left: 654px;
	position: absolute;
	float: left;
	z-index: 1;
}	

.screen.sleepenhancement #header #heading2 p {
	color: #323334;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: bold;
	text-shadow: 0 0 0;
}
div.menufooter {
	width: 260px;
	height: 40px;
	top: 664px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}
div.menufooter p {
	color: #F5C58F;
	font-size: 24px;
	padding-top: 0;
	text-shadow: 2px 1px 1px rgba(0,0,0,0.80);
}
div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}
div.sleep {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	display: inline-block;
	z-index: 1;
	background-color: rgba(0,0,0,0.50);
}
.screen.sleepenhancement #content {
	width: 100%;
	height: 560px;
	top: 160px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_sleep.jpg) top left no-repeat;
}


.screen.sleepenhancement #menu {
	width: 100%;
	height: 100%;
}

.screen.edtitles #menu .content-button-group {
	width: 100%;
	height: 100%;
}

.screen.sleepenhancement #menu .major {
	position: absolute;
	width: 544px;
	height: 450px;
	left: 66px;
	top: 40px;
	padding: 10px 0 0 0;
	/*box-shadow: 2px 2px 6px 0px #0C1E32;
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;*/
	background-color: rgba(1,1,1,0.20);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	overflow-y: auto;
	border: 6px solid #022244;
	z-index: 2;
}

.screen.sleepenhancement #menu .major a {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: rgba(253,253,253,1.00);
	/*color: #D2E5F4;#FFFF92;/
	border-radius: 8px;
	/*background-color: rgba(86,162,214,1.0);*/
	text-shadow: 2 2px 2 rgba(0,0,0,0.60);
}
.screen.sleepenhancement #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #F5C58F;
	/*background-color: rgba(48,138,200,0.70);
	border-radius: 8px;*/
	text-shadow: 2px 1px 1px rgba(0,0,0,0.80);
}
/*  FOR BACK BUTTONS THAT DO NOT GO BACK ONE PAGE, BUT TO A SPECIFIC PAGE, like from Medications, to NOT go back to the Security Popup */

.screen.sleepenhancement #menu .major a.back-button-fake {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #E3CB90;
}
	
.screen.sleepenhancement #menu .major a.selected {
	/*background-color: rgba(0,162,177,1.00);	
	color: #FCFCFC;*/
	background-color: #00A2B1;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;
	border-radius: 8px;
}

.screen.sleepenhancement #menu .minor {
	position: absolute;
	width: 600px;
	height: 390px;
	top: 40px;
	left: 660px;
}

.screen.sleepenhancement #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.screen.sleepenhancement #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.screen.sleepenhancement #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.screen.sleepenhancement #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.screen.sleepenhancement #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.screen.sleepenhancement #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.screen.sleepenhancement #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.screen.sleepenhancement #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	margin: 40px 0px 0px 25px;
}

.screen.sleepenhancement #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.screen.sleepenhancement #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen.sleepenhancement #menu .minor .sub-header {
	margin-top: 0px;
	font-size: 26px;
	line-height: 30px;
	width: 100%;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.screen.sleepenhancement #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.screen.sleepenhancement #menu .minor .sub-content {
    margin-top: 2px;
	height: 420px;
    overflow: hidden;
    position: relative;
}

.screen.sleepenhancement #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 50px;
	padding-top: 26px;
	padding-bottom: 0px;
	padding-right: 30px;
}

.screen.sleepenhancement #menu .minor .sub-content .sub-image1 img
,.screen.sleepenhancement #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.screen.sleepenhancement #menu .minor .sub-content.layout1 {
	
}

.es .screen.sleepenhancement #menu .minor .sub-content p,
.es .screen.sleepenhancement #menu .minor .sub-content.layout1 p{
	font-size: 26px;
}

.screen.sleepenhancement #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;

}

.screen.sleepenhancement #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.sleepenhancement #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.screen.sleepenhancement #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

.screen.sleepenhancement a.button3 {
	background: none;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.es .screen.sleepenhancement span.text-color-2 {
	font-size: 26px;
	line-height: 30px;
}
