body.tv {
    background: transparent;
}

.screen.tv .page {
    width: 1280px;
    height: 720px;
}

.screen.tv #channel-label {
    width: 364px;
    height: 140px;
    left: 0;
    top: 16px;
    display: none;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,0.7);
}

.screen.tv #channel-label #loadinginfo {
    position: relative;
    height: 140px;
    line-height: 140px;
    margin-top: 0;
    margin-left: 70px;
    color: white;
    font-size: 76px;
    font-weight: normal;
    float: left;
    font-family: Arial Narrow, Arial, sans-serif;
}

.screen.tv #channel-label.complete {
    width: 100%;
    top: 0;
}

.screen.tv #channel-label.complete #loadinginfo {
    font-size: 36px;
}