.screen.tvguide {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

.screen.tvguide.translucent {
    background: transparent;
}

.screen.tvguide.translucent > div {
    display: none
}

.screen.tvguide.translucent div.osd-player {
    display: block;
}

.screen.tvguide .logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 226px;
    height: 100px;
    display: block;
    float: left;
    margin: 30px 0 0 50px;
}

.screen.tvguide span, .screen.tvguide div, .screen.tvguide p {
    text-shadow: none;
}

.screen.tvguide #channel-label {
    width: 364px;
    height: 140px;
    left: 0;
    top: 16px;
    display: none;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,0.7);
}

.screen.tvguide #channel-label #loadinginfo {
    position: relative;
    height: 140px;
    line-height: 140px;
    margin-top: 0;
    margin-left: 70px;
    color: white;
    font-size: 76px;
    font-weight: normal;
    float: left;
    font-family: Arial Narrow, Arial, sans-serif;
}

.screen.tvguide #mask {
    position: fixed;
    width: 1280px;
    height: 556px;
    left: 0;
    top: 164px;
    background-color: #000000;
    opacity: 0.7;
    z-index: 10;
    text-align: center;
}

.screen.tvguide #icon {
    position: absolute;
    top: 214px;
    left: 576px;
    width: 128px;
    height: 128px;
}

.screen.tvguide #channelinfo {
    background: #113663;
    color: white;
    height: 25px;
    display: none;
    margin: 25px 0px 0px 25px;
    position: absolute;
}

.screen.tvguide #mask p {
    position: absolute;
    top: 460px;
    width: 1366px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.screen.tvguide #gridinfo {
    width: 1280px;
    position: absolute;
    z-index: 1;
}

.screen.tvguide #gridinfo div#current {
    color: #361A16;
    width: 1280px;
    height: 170px;
    left: 0px;
    position: absolute;
    z-index: 2;
}

.screen.tvguide #gridinfo div#current p {
    min-height: 32px;
    color: #273758;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    float: left;
    text-overflow: ellipsis;
}

.screen.tvguide #gridinfo div#current p.title {
    position: absolute;
    top: 45px;
    left: 320px;
    width: 600px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 30px;
    color: #000000;
}

.screen.tvguide #gridinfo div#current p.episode {
    position: absolute;
    top: 77px;
    left: 545px;
    width: 580px;
    font-size: 18px;
    font-style: italic;
    color: #7f7f7f;
    margin: 0;
    padding: 0;
}

.screen.tvguide #gridinfo div#current p.time {
    position: absolute;
    top: 77px;
    left: 320px;
    width: 580px;
    font-size: 22px;
    color: #3e93ca;
    margin: 0;
    padding: 0;
}

.screen.tvguide #gridinfo div#current p.description {
    position: absolute;
    top: 110px;
    left: 320px;
    width: 625px;
    height: 66px;
    font-size: 21px;
    line-height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.screen.tvguide #gridinfo div#current p.channel {
    margin: 15px 0 0 0;
    text-align: left;
    float: left;
    font-size: 24px;
    width: 225px;
}

.screen.tvguide #gridinfo div#current p.date {
    width: 385px;
    right: 20px;
    top: 44px;
    font-size: 26px;
    text-align: right;
    position: absolute;
    margin: 0;
    padding: 0;
}

.screen.tvguide #gridinfo div#current p.message {
    width: 385px;
    right: 20px;
    top: 130px;
    font-size: 22px;
    text-align: right;
    position: absolute;
    color: #3e93ca;
    margin: 0;
    padding: 0;
}

.screen.tvguide #gridinfo div#current p.message span {
    color: #aaa;
    margin-right: 100px;
}

.screen.tvguide #gridinfo div#current p.message a {
    color: #aaa;
}

.screen.tvguide #gridinfo div#current img {
    width: 300px;
    height: 185px;
    float: right;
}

.screen.tvguide #gridpanel {
    width: 1250px;
    height: 532px;
    margin-top: 175px;
    margin-left: 15px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2491B0;
}

.screen.tvguide #gridpanel #header {
    background: #93CCE0;
    /* box-shadow: 0 14px 30px -8px #000; */
    position: absolute;
    top: 0;
    height: 68px;
    z-index: 2;
    padding: 0;
}

.screen.tvguide #gridpanel #header a {
    width: 41px;
    height: 64px;
    display: block;
    position: absolute;
    z-index: 1;
}

/*.screen.tvguide #gridpanel #header a#prev {
    background: url(../images/button_left.png) center center no-repeat;
    left: 5px;
}
.screen.tvguide #gridpanel #header a#prev:active {
    background: url(../images/button_left_click.png) center center no-repeat;
}

.screen.tvguide #gridpanel #header a#next {
    background: url(../images/button_right.png) center center no-repeat;
    right: 5px;
}

.screen.tvguide #gridpanel #header a#next:active {
    background: url(../images/button_right_click.png) center center no-repeat;
} */

.screen.tvguide #gridpanel #header div {
    width: 250px;
    height: 68px;
    color: #000000;
    border: 2px solid #DDDDDD;
    border-top: 4px solid #DDDDDD;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    line-height: 64px;
    position: relative;
    float: left;
}

.screen.tvguide #gridpanel #header div#today {
    width: 250px;
}

.screen.tvguide #gridpanel #content {
    height: 464px;
    width: 1250px;
    overflow: hidden;
    position: relative;
    top: 68px;
}

.screen.tvguide #gridpanel #loading {
    width: 100%;
    height: 450px;
    line-height: 200px;
    text-align: center;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

.screen.tvguide #gridpanel #program-list {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.screen.tvguide #gridpanel #program {
    width: 100%;
    margin: 0;
    position: relative;
    float: left;
    list-style-type: none;
}

.screen.tvguide #gridpanel #program li {
    position: relative;
    margin: 0;
    height: 66px;
    list-style: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
}

.screen.tvguide #gridpanel div.channelstation {
    width: 250px;
    height: 66px;
    display: inline-block;
    z-index: 1;
}

.screen.tvguide #gridpanel div.channelstation div.channelname {
    height: 66px;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
}

.screen.tvguide #gridpanel div.channelstation div.channelname span {
    color: #000000;
    font-size: 24px;
    background: #93CCE0;
    border: 2px solid #DDDDDD;
    height: 66px;
    line-height: 64px;
    padding: 0 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.screen.tvguide #gridpanel .channelstation .channelname.active span {
    background: rgba(245, 128, 37, 1.0);
    color: #000;
}*/

.screen.tvguide #gridpanel div.channel {
    height: 66px;
    position: absolute;
    left: 250px;
    top: 0;
    /* z-index: 0; */
    width: 1000px;
}

.screen.tvguide #gridpanel div.program {
    width: 250px;
    height: 66px;
    padding: 0;
    position: relative;
    float: left;
    cursor: pointer;
}

.screen.tvguide #gridpanel div.program span {
    background: #3e6493;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #DDDDDD;
    padding: 0 5px;
    display: block;
    height: 66px;
    line-height: 64px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.screen.tvguide #gridpanel div.program span.episode {
    display: none;
}

.screen.tvguide #gridpanel div.program.active span {
    color: #000000;
    background: #B2D67F;
}

.screen.tvguide #tvpanel {
    background: #000000;
    position: absolute;
    z-index: 10;
}

.screen.tvguide #tvpanel.windowmode {
    width: 328px;
    height: 185px;
    left: 841px;
    top: 25px;
}

.screen.tvguide #tvpanel.fullscreen {
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    position: fixed;
}

.screen.tvguide #tvpanel #channelinfo {
    /*background: #56a2d6;*/
    background: #113663;
    color: white;
    height: 75px;
    display: none;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

.screen.tvguide #tvpanel #channelinfo p {
    font-size: 32px;
    font-weight: bold;
    padding: 25px;
}


.screen.tvguide #gridinfo div#current p.error {
    position: absolute;
    top: 140px;
    left: 380px;
    width: 605px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 40px;
    color: #ffffff;
}
