.screen.secondary.videoSeriesEpisodes .page-title,
.screen.secondary #menu .videoSeriesMenu .major {
    width: 544px;
}
.screen.secondary #menu .videoSeriesMenu .minor {
    width: 600px;
    left: 660px;
    top: 40px;
    text-align: center;
}

.screen.secondary #menu .videoSeriesMenu .minor h2 {
    margin-top: 0px;
	font-size: 32px;
	text-align: center;
	line-height: 30px;
	width: 100%;
	height: 30px;
    color: #FBFD99;
}

.screen.secondary #menu .videoSeriesMenu .minor img {
    width: 275px;
    height: 400px;
    margin: 20px 0 0;
    border: 8px solid #F5C58F;
}