#pin-error .widget.dialog.pinerror-dialog .col-b {
    position: absolute;
    height: auto;
    margin: 0;
    padding: 0 35px;
    top: 90px;
    left: 480px;
}
#pin-error .widget.dialog.pinerror-dialog p {
    font-size: 34px;
    line-height: 130%;
}

#pin-error .widget.dialog.pinerror-dialog #buttons {
    left: 28px;
    top: 205px;
}