<div class="container">
    <div class="col-a">
        <div class="logo-small-popup"></div>
        <div id="buttons" class="buttons"></div>
    </div>
    
    <div class="col-b">
        <p>{{ i18n "You have entered an invalid Security Code." }}</p>
        <p>{{ i18n "Please see a member of your care team regarding your Security Code." }}</p>
    </div>
</div>
