#videoComprehensionDialog .widget.dialog .container #buttons {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 60px;
}

#videoComprehensionDialog .widget.dialog .container #buttons #escape {
    display: none;
}