<div class="container">
    <div class='col-a'>
        <div class="logo-small-popup"></div>
        <div id="buttons"></div>
    </div>
    
    <div class='col-b'>
        <p>{{ i18n "Did you understand the information in this video?" }}</p>
        <p>{{ i18n "Your nurse will follow-up with you to see if you have any questions." }}</p>
    </div>
</div>